:root{
    --fundo:#d3f0eb;
    --cartao-frente:#20B2AA;
    --cartao-verso:#008B8B;
    --destaque:#ffffff;
    --preto:#000000;
    --branco:#F8F8FF;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
header a{
color: var(--branco);
text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    display: grid;
    gap: 3rem;
    padding: 20px;
}
.conteudocartao{
    padding: 40px;
    background-color: var(--cartao-frente);
    box-shadow: 8px 8px 24px var(--preto);
}