:root{
    --fundo:#B0C4DE;
    --cartao-frente:#8B008B;
    --cartao-verso:#000080;
    --destaque:#FFFAFA;
    --preto:#000000;
    --branco:#F8F8FF;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
#container{
    display: flex;
    padding: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
